<main role="main" class="container">
  <app-header></app-header>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="row vertical-align" *ngIf="isLoading">
      <div class="col-12 text-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Đang tải dữ liệu...</span>
        </div>
      </div>
    </div>
    <div class="row vertical-align" *ngIf="!isLoading">
      <div class="col-12">
        <apx-chart
          [noData]="options.noData"
          [series]="options.series"
          [labels]="options.labels"
          [chart]="options.chart"
          [colors]="options.colors"
          [responsive]="options.responsive"></apx-chart>
      </div>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm" *ngIf="recentUpdates && recentUpdates.length > 0">
    <h6 class="border-bottom border-gray pb-2 mb-0">Mới cập nhật</h6>
    <app-recent-item
      *ngFor="let recent of recentUpdates"
      [username]="'<CodeGymer>'"
      [color]="getEmotionColor(recent.emotion)"
      [content]="(recent.note) ? recent.note.content : '...'"
    ></app-recent-item>
    <small class="d-block text-right mt-3">
      <a routerLink="/recents">Hiển thị tất cả</a>
    </small>
  </div>
</main>
